<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='@fortawesome/fontawesome-free/css/all.min.css' />
</head>
<body>
  <% include partials/header.ejs %>

  <!--  ======================= Start Main Area ================================ -->
  <header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Welcome</h1>
        <h3 class="mb-5"><em>A platform where you can do different operation on movie list</em></h3>
        <a class="btn btn-primary btn-xl" href="/movie/list">Explore Movie List</a>
    </div>
</header>
    <!--  ======================= End Main Area =======================  -->

  <% include partials/footer.ejs %>
  </main>
  
</body>
</html>
